In [9]:
import pandas as pd
import random
import psycopg2
from psycopg2.extras import execute_values

In [10]:
nomes = {
    "Ana", "Bruno", "Carla", "Daniel", "Eduarda", "Fernando", "Gabriela", "Hugo", "Isabela", "João",
    "Karina", "Lucas", "Mariana", "Nathan", "Olivia", "Paulo", "Quezia", "Rafael", "Sofia", "Tiago",
    "Ursula", "Vitor", "Wellington", "Ximena", "Yago", "Zara", "Alice", "Benjamin", "Camila", "Diego",
    "Elisa", "Fábio", "Giovana", "Heitor", "Ingrid", "Júlio", "Katia", "Leandro", "Mirela", "Norberto",
    "Orlando", "Priscila", "Quirino", "Raquel", "Samuel", "Tainá", "Ubirajara", "Valéria", "William", "Xavier",
    "Yasmin", "Zaqueu", "Adriana", "Bernardo", "Cecília", "Douglas", "Esther", "Felipe", "Gisele", "Henrique",
    "Ivana", "Jonas", "Kelly", "Leonardo", "Melissa", "Nicolas", "Otávio", "Patrícia", "Quintino", "Rebeca",
    "Simone", "Tatiane", "Ulisses", "Vanessa", "Wesley", "Xandra", "Yuri", "Zélia", "André", "Bianca", "Cristiano",
    "Diana", "Enzo", "Fernanda", "Gustavo", "Helena", "Ícaro", "Jéssica", "Kleber", "Lorena", "Matheus", "Natália",
    "Orfeu", "Paloma", "Quésia", "Rodrigo", "Selma", "Tarcísio", "Uriel", "Vitória", "Wallace", "Xênia", "Yvone",
    "Zilda", "Augusto", "Bárbara", "Cauê", "Débora", "Emanuel", "Flávia", "Gilberto", "Hilda", "Ísis", "Jefferson",
    "Karen", "Luana", "Maurício", "Neide", "Osvaldo", "Pedro", "Quitéria", "Ricardo", "Samantha", "Tamara", "Ugo",
    "Vilma", "Wanderley", "Xisto", "Ylana", "Zoroastro", "Aline", "Brenda", "Caio", "Denise", "Elton", "Fabiana",
    "Geraldo", "Heloísa", "Ítalo", "Joana", "Kevin", "Lívia", "Marcelo", "Nair", "Olavo", "Paula", "Quirina", "Roberto",
    "Sandro", "Tereza", "Urbano", "Vânia", "Wilson", "Xande", "Yasmina", "Zenaide"
}

sobrenomes = {
    "Silva", "Santos", "Oliveira", "Souza", "Pereira", "Lima", "Carvalho", "Ferreira", "Rodrigues", "Almeida",
    "Costa", "Gomes", "Martins", "Barros", "Vieira", "Mendes", "Nunes", "Moreira", "Teixeira", "Cavalcante",
    "Monteiro", "Dias", "Correia", "Azevedo", "Ribeiro", "Cardoso", "Freitas", "Duarte", "Borges", "Araújo",
    "Andrade", "Moura", "Xavier", "Figueiredo", "Cunha", "Torres", "Rezende", "Siqueira", "Batista", "Neves"
}

In [11]:
def nome_aleatorio():
    return f"{random.choice(tuple(nomes))} {random.choice(tuple(sobrenomes))}"

In [12]:
PATH = './parquets'

In [13]:
CHUNK_SIZE = 1000

In [14]:
INSERT_SQL = """INSERT INTO users (id, nome, embedding) VALUES %s ON CONFLICT (id) DO NOTHING"""

In [15]:
DB_PARAMS = {
    "dbname": "db",
    "user": "user",
    "password": "pass",
    "host": "localhost",
    "port": 5416
}

In [16]:
users = pd.read_parquet(f'{PATH}/df_users.parquet')

In [17]:
users.rename(columns={'userId':'id', 'user_weighted_embedding':'embedding'}, inplace=True)

In [18]:
users['nome'] = users.index.map(lambda _: nome_aleatorio())

In [19]:
users.head()

,id,embedding,nome
0,000044b36375e7f1a66a9476affc2ddc83c2ec6dd18951...,"[0.35516560769347333, 0.14411123629151734, -0....",Elton Dias
1,00007a4e5949a3dba7c977503c53e0873643fe17d0802a...,"[0.5453204643662357, -0.2766114007783694, -0.1...",Henrique Andrade
2,00011b1ced626112372206634e0e9b5ccb432da916e83f...,"[0.2522570172336757, -0.1293059356119698, -0.0...",Lívia Santos
3,00012cd490cea9fe043146807def18c830fa0d0b791772...,"[0.29292065552608554, 0.0649563024426402, 0.12...",Yago Santos
4,0001b40676c18a37bf25f0b1921ad12513c434cb57db18...,"[0.23972679953425952, -0.13138856623615228, -0...",Simone Costa

In [20]:
users = users[['id', 'nome', 'embedding']]

In [21]:
users.head()

,id,nome,embedding
0,000044b36375e7f1a66a9476affc2ddc83c2ec6dd18951...,Elton Dias,"[0.35516560769347333, 0.14411123629151734, -0...."
1,00007a4e5949a3dba7c977503c53e0873643fe17d0802a...,Henrique Andrade,"[0.5453204643662357, -0.2766114007783694, -0.1..."
2,00011b1ced626112372206634e0e9b5ccb432da916e83f...,Lívia Santos,"[0.2522570172336757, -0.1293059356119698, -0.0..."
3,00012cd490cea9fe043146807def18c830fa0d0b791772...,Yago Santos,"[0.29292065552608554, 0.0649563024426402, 0.12..."
4,0001b40676c18a37bf25f0b1921ad12513c434cb57db18...,Simone Costa,"[0.23972679953425952, -0.13138856623615228, -0..."

In [22]:
try:
    conn = psycopg2.connect(**DB_PARAMS)
    cur = conn.cursor()

    for i in range(0, len(users), CHUNK_SIZE):
        chunk = users.iloc[i:i + CHUNK_SIZE]
        values = [(x[0],x[1],x[2].tolist()) for x in chunk.to_numpy()]
        execute_values(cur, INSERT_SQL, values)
        conn.commit()
        print(f"Chunk {i // CHUNK_SIZE + 1} inserido com sucesso.")

    cur.close()
    conn.close()
    print("Inserção concluída!")

except Exception as e:
    print(f"Erro: {e}")

Chunk 1 inserido com sucesso.
Chunk 2 inserido com sucesso.
Chunk 3 inserido com sucesso.
Chunk 4 inserido com sucesso.
Chunk 5 inserido com sucesso.
Chunk 6 inserido com sucesso.
Chunk 7 inserido com sucesso.
Chunk 8 inserido com sucesso.
Chunk 9 inserido com sucesso.
Chunk 10 inserido com sucesso.
Chunk 11 inserido com sucesso.
Chunk 12 inserido com sucesso.
Chunk 13 inserido com sucesso.
Chunk 14 inserido com sucesso.
Chunk 15 inserido com sucesso.
Chunk 16 inserido com sucesso.
Chunk 17 inserido com sucesso.
Chunk 18 inserido com sucesso.
Chunk 19 inserido com sucesso.
Chunk 20 inserido com sucesso.
Chunk 21 inserido com sucesso.
Chunk 22 inserido com sucesso.
Chunk 23 inserido com sucesso.
Chunk 24 inserido com sucesso.
Chunk 25 inserido com sucesso.
Chunk 26 inserido com sucesso.
Chunk 27 inserido com sucesso.
Chunk 28 inserido com sucesso.
Chunk 29 inserido com sucesso.
Chunk 30 inserido com sucesso.
Chunk 31 inserido com sucesso.
Chunk 32 inserido com sucesso.
Chunk 33 inserido com sucesso.
Chunk 34 inserido com sucesso.
Chunk 35 inserido com sucesso.
Chunk 36 inserido com sucesso.
Chunk 37 inserido com sucesso.
Chunk 38 inserido com sucesso.
Chunk 39 inserido com sucesso.
Chunk 40 inserido com sucesso.
Chunk 41 inserido com sucesso.
Chunk 42 inserido com sucesso.
Chunk 43 inserido com sucesso.
Chunk 44 inserido com sucesso.
Chunk 45 inserido com sucesso.
Chunk 46 inserido com sucesso.
Chunk 47 inserido com sucesso.
Chunk 48 inserido com sucesso.
Chunk 49 inserido com sucesso.
Chunk 50 inserido com sucesso.
Chunk 51 inserido com sucesso.
Chunk 52 inserido com sucesso.
Chunk 53 inserido com sucesso.
Chunk 54 inserido com sucesso.
Chunk 55 inserido com sucesso.
Chunk 56 inserido com sucesso.
Chunk 57 inserido com sucesso.
Chunk 58 inserido com sucesso.
Chunk 59 inserido com sucesso.
Chunk 60 inserido com sucesso.
Chunk 61 inserido com sucesso.
Chunk 62 inserido com sucesso.
Chunk 63 inserido com sucesso.
Chunk 64 inserido com sucesso.
Chunk 65 inserido com sucesso.
Chunk 66 inserido com sucesso.
Chunk 67 inserido com sucesso.
Chunk 68 inserido com sucesso.
Chunk 69 inserido com sucesso.
Chunk 70 inserido com sucesso.
Chunk 71 inserido com sucesso.
Chunk 72 inserido com sucesso.
Chunk 73 inserido com sucesso.
Chunk 74 inserido com sucesso.
Chunk 75 inserido com sucesso.
Chunk 76 inserido com sucesso.
Chunk 77 inserido com sucesso.
Chunk 78 inserido com sucesso.
Chunk 79 inserido com sucesso.
Chunk 80 inserido com sucesso.
Chunk 81 inserido com sucesso.
Chunk 82 inserido com sucesso.
Chunk 83 inserido com sucesso.
Chunk 84 inserido com sucesso.
Chunk 85 inserido com sucesso.
Chunk 86 inserido com sucesso.
Chunk 87 inserido com sucesso.
Chunk 88 inserido com sucesso.
Chunk 89 inserido com sucesso.
Chunk 90 inserido com sucesso.
Chunk 91 inserido com sucesso.
Chunk 92 inserido com sucesso.
Chunk 93 inserido com sucesso.
Chunk 94 inserido com sucesso.
Chunk 95 inserido com sucesso.
Chunk 96 inserido com sucesso.
Chunk 97 inserido com sucesso.
Chunk 98 inserido com sucesso.
Chunk 99 inserido com sucesso.
Chunk 100 inserido com sucesso.
Chunk 101 inserido com sucesso.
Chunk 102 inserido com sucesso.
Chunk 103 inserido com sucesso.
Chunk 104 inserido com sucesso.
Chunk 105 inserido com sucesso.
Chunk 106 inserido com sucesso.
Chunk 107 inserido com sucesso.
Chunk 108 inserido com sucesso.
Chunk 109 inserido com sucesso.
Chunk 110 inserido com sucesso.
Chunk 111 inserido com sucesso.
Chunk 112 inserido com sucesso.
Chunk 113 inserido com sucesso.
Chunk 114 inserido com sucesso.
Chunk 115 inserido com sucesso.
Chunk 116 inserido com sucesso.
Chunk 117 inserido com sucesso.
Chunk 118 inserido com sucesso.
Chunk 119 inserido com sucesso.
Chunk 120 inserido com sucesso.
Chunk 121 inserido com sucesso.
Chunk 122 inserido com sucesso.
Chunk 123 inserido com sucesso.
Chunk 124 inserido com sucesso.
Chunk 125 inserido com sucesso.
Chunk 126 inserido com sucesso.
Chunk 127 inserido com sucesso.
Chunk 128 inserido com sucesso.
Chunk 129 inserido com sucesso.
Chunk 130 inserido com sucesso.
Chunk 131 inserido com sucesso.
Chunk 132 inserido com sucesso.
Chunk 133 inserido com sucesso.
Chunk 134 inserido com sucesso.
Chunk 135 inserido com sucesso.
Chunk 136 inserido com sucesso.
Chunk 137 inserido com sucesso.
Chunk 138 inserido com sucesso.
Chunk 139 inserido com sucesso.
Chunk 140 inserido com sucesso.
Chunk 141 inserido com sucesso.
Chunk 142 inserido com sucesso.
Chunk 143 inserido com sucesso.
Chunk 144 inserido com sucesso.
Chunk 145 inserido com sucesso.
Chunk 146 inserido com sucesso.
Chunk 147 inserido com sucesso.
Chunk 148 inserido com sucesso.
Chunk 149 inserido com sucesso.
Chunk 150 inserido com sucesso.
Chunk 151 inserido com sucesso.
Chunk 152 inserido com sucesso.
Chunk 153 inserido com sucesso.
Chunk 154 inserido com sucesso.
Chunk 155 inserido com sucesso.
Chunk 156 inserido com sucesso.
Chunk 157 inserido com sucesso.
Chunk 158 inserido com sucesso.
Chunk 159 inserido com sucesso.
Chunk 160 inserido com sucesso.
Chunk 161 inserido com sucesso.
Chunk 162 inserido com sucesso.
Chunk 163 inserido com sucesso.
Chunk 164 inserido com sucesso.
Chunk 165 inserido com sucesso.
Chunk 166 inserido com sucesso.
Chunk 167 inserido com sucesso.
Chunk 168 inserido com sucesso.
Chunk 169 inserido com sucesso.
Chunk 170 inserido com sucesso.
Chunk 171 inserido com sucesso.
Chunk 172 inserido com sucesso.
Chunk 173 inserido com sucesso.
Chunk 174 inserido com sucesso.
Chunk 175 inserido com sucesso.
Chunk 176 inserido com sucesso.
Chunk 177 inserido com sucesso.
Chunk 178 inserido com sucesso.
Chunk 179 inserido com sucesso.
Chunk 180 inserido com sucesso.
Chunk 181 inserido com sucesso.
Chunk 182 inserido com sucesso.
Chunk 183 inserido com sucesso.
Chunk 184 inserido com sucesso.
Chunk 185 inserido com sucesso.
Chunk 186 inserido com sucesso.
Chunk 187 inserido com sucesso.
Chunk 188 inserido com sucesso.
Chunk 189 inserido com sucesso.
Chunk 190 inserido com sucesso.
Chunk 191 inserido com sucesso.
Chunk 192 inserido com sucesso.
Chunk 193 inserido com sucesso.
Chunk 194 inserido com sucesso.
Chunk 195 inserido com sucesso.
Chunk 196 inserido com sucesso.
Chunk 197 inserido com sucesso.
Chunk 198 inserido com sucesso.
Chunk 199 inserido com sucesso.
Chunk 200 inserido com sucesso.
Chunk 201 inserido com sucesso.
Chunk 202 inserido com sucesso.
Chunk 203 inserido com sucesso.
Chunk 204 inserido com sucesso.
Chunk 205 inserido com sucesso.
Chunk 206 inserido com sucesso.
Chunk 207 inserido com sucesso.
Chunk 208 inserido com sucesso.
Chunk 209 inserido com sucesso.
Chunk 210 inserido com sucesso.
Chunk 211 inserido com sucesso.
Chunk 212 inserido com sucesso.
Chunk 213 inserido com sucesso.
Chunk 214 inserido com sucesso.
Chunk 215 inserido com sucesso.
Chunk 216 inserido com sucesso.
Chunk 217 inserido com sucesso.
Chunk 218 inserido com sucesso.
Chunk 219 inserido com sucesso.
Chunk 220 inserido com sucesso.
Chunk 221 inserido com sucesso.
Chunk 222 inserido com sucesso.
Chunk 223 inserido com sucesso.
Chunk 224 inserido com sucesso.
Chunk 225 inserido com sucesso.
Chunk 226 inserido com sucesso.
Chunk 227 inserido com sucesso.
Chunk 228 inserido com sucesso.
Chunk 229 inserido com sucesso.
Chunk 230 inserido com sucesso.
Chunk 231 inserido com sucesso.
Chunk 232 inserido com sucesso.
Chunk 233 inserido com sucesso.
Chunk 234 inserido com sucesso.
Chunk 235 inserido com sucesso.
Chunk 236 inserido com sucesso.
Chunk 237 inserido com sucesso.
Chunk 238 inserido com sucesso.
Chunk 239 inserido com sucesso.
Chunk 240 inserido com sucesso.
Chunk 241 inserido com sucesso.
Chunk 242 inserido com sucesso.
Chunk 243 inserido com sucesso.
Chunk 244 inserido com sucesso.
Chunk 245 inserido com sucesso.
Chunk 246 inserido com sucesso.
Chunk 247 inserido com sucesso.
Chunk 248 inserido com sucesso.
Chunk 249 inserido com sucesso.
Chunk 250 inserido com sucesso.
Chunk 251 inserido com sucesso.
Chunk 252 inserido com sucesso.
Chunk 253 inserido com sucesso.
Chunk 254 inserido com sucesso.
Chunk 255 inserido com sucesso.
Chunk 256 inserido com sucesso.
Chunk 257 inserido com sucesso.
Chunk 258 inserido com sucesso.
Chunk 259 inserido com sucesso.
Chunk 260 inserido com sucesso.
Chunk 261 inserido com sucesso.
Chunk 262 inserido com sucesso.
Chunk 263 inserido com sucesso.
Chunk 264 inserido com sucesso.
Chunk 265 inserido com sucesso.
Chunk 266 inserido com sucesso.
Chunk 267 inserido com sucesso.
Chunk 268 inserido com sucesso.
Chunk 269 inserido com sucesso.
Chunk 270 inserido com sucesso.
Chunk 271 inserido com sucesso.
Chunk 272 inserido com sucesso.
Chunk 273 inserido com sucesso.
Chunk 274 inserido com sucesso.
Chunk 275 inserido com sucesso.
Chunk 276 inserido com sucesso.
Chunk 277 inserido com sucesso.
Chunk 278 inserido com sucesso.
Chunk 279 inserido com sucesso.
Chunk 280 inserido com sucesso.
Chunk 281 inserido com sucesso.
Chunk 282 inserido com sucesso.
Chunk 283 inserido com sucesso.
Chunk 284 inserido com sucesso.
Chunk 285 inserido com sucesso.
Chunk 286 inserido com sucesso.
Chunk 287 inserido com sucesso.
Chunk 288 inserido com sucesso.
Chunk 289 inserido com sucesso.
Inserção concluída!